html,
body {
  margin: 0;
  background: #030202;
}

#game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  outline: 2px solid red;

  overflow: hidden;

  perspective: 1250px;
}

#game > * {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;

  transform-style: preserve-3d;
}

#map * {
  position: absolute;
  left: 0;
  top: 0;

  transform-origin: center center;
}

#overlay {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+3,1+75 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 3%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  z-index: 1001;
}

#crt {
  background: transparent linear-gradient(transparent 65%, rgba(255, 255, 255, 0.025) 35%);
  background-size: 5px 5px;

  z-index: 1000;
}
 /* 82 r 70 f */